html {
  background: #ad5389; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #3c1053,
    #ad5389
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #3c1053,
    #ad5389
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  background-repeat: no-repeat;
  overflow-y:scroll;
  min-height: 100%;
}

.App {
  max-width: 1000px;
  margin: 0 auto;
}
