input {
  width: 45px;
  height: 45px;
  border-radius: 12%;
  border-color: transparent;
}

.m-right {
  margin-right: 15px !important;
}

.m-bottom {
  margin-bottom: 15px !important;
}

.square {
  margin: 5px;
  box-shadow: 1px 1px 2px black;
  text-align: center;
  font-size: 18px;
  font-family: 'Rochester', cursive;
  font-weight: 600;
}

